In [2]:
import os 
os.environ["CUDA_DEVICE_ORDER"] = "PCI_BUS_ID"
os.environ["CUDA_VISIBLE_DEVICES"] = "3"

In [1]:
# Pandas Module
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt

### df 생성

In [3]:
df = pd.DataFrame()  # 초기화 선언

In [4]:
df = pd.DataFrame(np.zeros((4,2)), columns=['val1','val2'])
df

   val1  val2
0   0.0   0.0
1   0.0   0.0
2   0.0   0.0
3   0.0   0.0

In [8]:
df = pd.DataFrame(np.random.randn(5,2), columns=['v1','v2'])
df

         v1        v2
0 -0.338941 -0.894868
1 -0.773697 -0.785189
2 -1.455167 -0.015541
3  0.088441  0.409866
4  1.778953  0.126526

In [7]:
df = pd.DataFrame(
      {
          'name' : [ 'aa','bb','cc','dd','ee','ff' ],
          'value': [   11,  12,  13,  14,  15, 16  ],
      })